<nav class="navbar navbar-expand-md navbar-light mx-auto">
  <div class="col-md-12">
    <div class="row non-mobile-links">
      <div class="non-collapse-navbar">
        <%= render 'modules/static_links' %>
        <%= render 'modules/user_util_links' %>
      </div>
    </div>
    <div class="row branding-row">
      <%= render 'modules/big_nav' %>
    </div>
  </div>
</nav> 