<footer aria-label="Main footer" class="footer cover-page-footer">
  <%= render 'modules/footer_branding' %>
  <%= render 'modules/footer_list' %>
  <div class="footer-placeholder"></div>
  <%= render 'modules/footer_version' %>
  <%= render 'modules/footer_copyright' %>
</footer>
