<ul class="footer-list"><li><%= link_to "About Digital Collections", "https://libraries.emory.edu/materials/course-reserves.html", class: "link" %></li></ul>
<ul class="footer-list">
  <li>
    <%= link_to "Copyright & Content", 
                  'https://libraries.emory.edu/using-the-library/reserves-copyright.html', 
                  class: "link" 
    %>
  </li>
</ul>
<ul class="footer-list"><li><%= link_to "Contact & Feedback", "https://emory.libanswers.com/", class: "link" %></li></ul>
<ul class="footer-list">
  <li>
    <%= link_to "Donate", 'https://libraries.emory.edu/about/support-emory-libraries/index.html', class: "link" %>
  </li>
</ul>
