<div class="footer-branding footer-branding">
  <%= link_to root_path, class: "footer-branding-logo", title: "Emory Libraries" do %>
    <%= render "modules/footer_branding_logo" %>
  <% end %>
  <%= render "modules/footer_branding_dropdown" %>
</div>
